* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    right: 0;
    left: 0;

    background-color: #0084fd;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 70px;
    padding: 0 25px;

    color: white;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 120px 30px 75px;
    gap: 20px;

    background-color: white;
}

.double-card {
    display: flex;
    flex-direction: column;
    gap: 35px;

    width: 100%;
    height: auto;
    padding: 35px 30px 0px;

    border-radius: 20px;

    background-color: #b5ddff;
}

.double-card .img {
    align-self: center;
    height: 270px;
    max-width: 200px;
    width: 100%;

    background-color: red;
}

.double-card-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* ------------------------- */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    width: 100%;
    height: auto;
    padding: 30px;

    width: 100%;
    height: auto;

    border-radius: 20px;

    background-color: #b5ddff;
}

.card-title {
    color: #0084fd;
}

.card-symbol {
    color: #0084fd;
}

.card .card-title {
    margin-bottom: 5px;
}

/* ------------------------- */

.purplebg {
    width: 100%;
    background-color: #9792e4;
}

.sp-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 100%;
    height: auto;
    padding: 60px 30px;

    background-color: #9792e4;
}

.first-sp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: white;
    width: 100%;
}

.first-sp .img {
    margin-bottom: 80px;

    height: 300px;
    width: 100%;

    background-color: red;
}

.first-sp h2 {
    margin-bottom: 45px;
}

.second-sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    width: 100%;
    height: auto;
    padding: 30px;

    border-radius: 50px;

    background-color: white;
}

.second-sp .img {
    height: 280px;
    width: 100%;

    background-color: red;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    width: 100%;
    height: auto;
    padding: 65px 30px 110px;
}

.text-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
}

.text-testimonial p:first-child {
    margin-bottom: 25px;
}

.text-testimonial h2 {
    margin-bottom: 40px;
}

.testimonial-cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    width: 100%;
    height: auto;
}

.t-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    width: 100%;
    height: auto;
    padding: 30px 10px;

    border-radius: 50px;

    background-color: #9792e4;
    color: white;
}

.t-card .profile {
    height: 200px;
    width: 200px;

    border-radius: 50%;

    background-color: red;
}

.t-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    width: auto;
    height: auto;
}

/* ------------------------- */

.benefits-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;

    width: 100%;
    height: auto;
    padding: 70px 25px 60px;

    background-color: #9792e4;
    color: white;
}

.b-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        gap: 30px;
    
        width: 100%;
        height: auto;
}

.benefits-section h2 {
    margin-bottom: 30px;
}

.b-card {
    display: flex;
    flex-direction: column;

    gap: 25px;

    width: 100%;
    height: auto;
    padding: 40px 30px 30px;

    border-radius: 20px;

    background-color: white;
    color: #9792e4;
}

/* ------------------------- */

.aboutus-section {
    display: flex;
    flex-direction: column;

    gap: 45px;

    width: 100%;
    height: auto;
    padding: 80px 30px;

    background-color: white;
}

.aboutus-section p:first-of-type {
    margin-bottom: 25px;
}

.about-us-text {
    display: flex;
    flex-direction: column;

    gap: 45px;

    width: 100%;
    height: auto;
}

.about-us-info {
    display: flex;
    flex-direction: column;

    gap: 45px;

    width: 100%;
    height: auto;

    background-color: white;
}

.about-us-info .img {
    height: 200px;
    width: 200px;

    border-radius: 50%;

    background-color: red;
}

/* ------------------------- */

.get-started-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px; /* da rimuovere */

    width: 100%;
    height: auto;
    padding: 60px 30px;

    background-color: #9792e4;
    color: white;
}

/* ------------------------- */

.last-infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 65px;

    width: 100%;
    height: auto;
    padding: 40px 25px 30px;

    background-color: #333333;
    color: white;
}

/* --------------- MEDIA SECTION ---------------*/

/* ---------- tablet section ----------*/

@media screen and (min-width: 426px) /*and (max-width: 768px)*/ {
    
    .cards-container {
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;

        gap: 20px;
    }

    .double-card {
        width: calc(100% / 3 * 2 - 1em);
    }

    .card {
        width: calc(100% / 3 - 1em);
    }

    /* ------------------------- */

    .t-card {
        display: flex;
        flex-direction: row;
    
        gap: 30px;
    
        width: 100%;
        height: auto;
    }

    .t-text {
        align-items: flex-start;
    }

    /* ------------------------- */

    .b-cards {
        flex-flow: row wrap;
        justify-content: space-evenly;

        gap: 20px;
    }

    .b-card {
        width: calc(100% / 2 - 1em);
    }

    /* ------------------------- */

    .aboutus-section {
        display: flex;
        flex-direction: row;
    
        gap: 80px;

        margin-bottom: 105px;
    }

    .about-us-info {
        align-self: flex-end;
        width: calc(100% / 3 * 1.5);
    }
}

/* ---------- desktop section ----------*/

@media screen and (min-width: 769px) {
    .nav-container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .cards-container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .double-card {
        flex-direction: row;
        gap: 80px;
    }

    /* ------------------------- */

    .sp-section {
        flex-direction: row;
        align-items: flex-end;

        max-width: 1140px;
        margin: 0 auto;
    }

    .testimonial-section {
        max-width: 1140px;
        margin: 0 auto;
    }

    .t-card {
        gap: 60px;
    }

    /* ------------------------- */

    .b-cards {
        max-width: 1140px;
        margin: 0 auto;
    }

    .b-card {
        width: calc(100% / 3 - 1em);
    }

    /* ------------------------- */

    .aboutus-section {
        max-width: 1140px;
        margin: 0 auto;

        gap: 80px;
    }

    .about-us-text {
        align-self: flex-start;
    }

    .about-us-info {
        width: calc(100% / 3);
    }
}